<dx-data-grid
    #grid
    id="gridContainer"
    [dataSource]="datadosDaGrid"
    keyExpr="ID"
    [hoverStateEnabled]="true"
    (onSelectionChanged)="selecionouDevExtreme($event)"
    [showBorders]="true"
    [selectedRowKeys]="[]">
    <dxo-filter-row 
        [visible]="exibirFiltroColuna"></dxo-filter-row>
    <dxo-header-filter 
        [visible]="true"></dxo-header-filter>
    <dxo-search-panel 
        [visible]="true" 
        [width]="240" 
        placeholder="Search..."></dxo-search-panel>
    <dxo-selection mode="single"></dxo-selection>
    <dxi-column *ngFor="let column of colunas" [dataField]="column.field" [caption]="column.label"></dxi-column>
</dx-data-grid>
<div id="employeeInfo" *ngIf="grid.selectedRowKeys.length">
    <pre>{{grid.instance.getSelectedRowsData() | json}}</pre>
    <input type="text" name="" id="" disabled="true" [ngModel]="grid.instance.getSelectedRowsData()[0].FirstName">
    <p class="employeeNotes">{{grid.instance.getSelectedRowsData()[0].Notes}}</p>
</div>