<div class="form">
    <form #form="ngForm" class="example-form" (ngSubmit)="send(form.value)">
        <div fxLayout="row wrap" fxLayoutAlign='start start'>
            <mat-form-field fxFlex="100%" fxFlex.gt-sm="50%">
                <input matInput placeholder="nome" name="nome" required ngModel>
            </mat-form-field>
            <mat-form-field fxFlex="100%" fxFlex.gt-sm="50%">
                <input matInput placeholder="email" type="email" name="email" email required ngModel>
            
                <mat-error *ngIf="form.control.get('email').hasError('email')">Email errado</mat-error>
                <mat-error *ngIf="form.control.get('email').hasError('required')"> Obrigatório</mat-error>
            
            </mat-form-field>  
            <div fxLayout="row wrap" fxFlex="100%" fxLayoutAlign='center center'>
                <mat-form-field fxFlex="100%" fxFlex.gt-sm="50%" fxFlexAlign="center">
                    <input matInput placeholder="telefone" name="telefone" ngModel>
                </mat-form-field>       
            </div>
        </div>
        <button mat-raised-button color="primary" [disabled]="form.invalid || loading">Enviar</button>
    </form>

    <curso-angular-grid (selecionou)="selecionounaGrid($event)" [dataSource]="employes" [colunas]="colunas"></curso-angular-grid>
    <curso-angular-grid [exibirFiltroColuna]="false" [dataSource]="employes2" [colunas]="colunas2"></curso-angular-grid>
</div>


<!-- 

    fxFlex="" aplicará quando a tela for do tamanho do celular 
    fxFlex-gt-sm="" isto aplicará quando o tamanho da tela for para computador e tablet
 -->